
<header>
  <div class="container">
    <div class="navbar centered">
      <a class="navbar-brand" href="#">
        <img src="assets/images/line_up3.png" width="280" height="210" alt="Line Up, A social calendar for busy families.">
      </a>
      <nav class="navbar navbar-expand-lg navbar-light bg-white navbar-right">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link active" href="/index">Home <span class="sr-only">(current)</span></a>
            {{!-- <a class="nav-item nav-link" href="#">My Events</a>
            <a class="nav-item nav-link" href="/allEvents">All Events</a> --}}
            <a class="nav-item nav-link" href="/createevent">Create Event</a>
            <a class="nav-item nav-link" href="#">Create Group</a>
            <a class="nav-item nav-link" href="/login">Log In</a>
            <a class="nav-item nav-link" href="/signup">Sign Up</a>
          </div>
        </div>
      </nav>
    </div>
  </div>
</header>

<main>
<div class ="container">
  <h1>Create a New Group</h1>
  <br>
  

  <form>

    {{!-- Enter new group name --}}
    <div class="row">
      <div class="col-md-4 mb-3 ml-4">
        {{!-- <h3><label>Group Name</label></h3> --}}
        <input type="text" class="form-control" id="new-group-name" placeholder="Enter new group name" required>
        <div class="valid-feedback">
          That's a great group name!
        </div>
      </div>
    </div>

    {{!-- Add new group member --}}
    <div class="row">
      <div class="col-md-4 mb-3 ml-4">
        <div class="control-group" id="fields">
          <div class="controls"> 
            <form role="form" autocomplete="off">
              <div class="input-group col-xs-4">
                {{#each members}}
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="{{id}}">
                  {{userName}}
                </div>
                {{/each}}
              </div>
            </form>
            <br>
            <small>Press <i class="fas fa-plus"> </i> to add a group member!</small>
          </div>
        </div>
      </div>
    </div>
    <br>


    <br>
    {{!-- Take user to manage group page--}}
    <div class="row">
      <div class="col-md-4 mb-3 ml-4">
        <form>
          {{!-- Version 1 (without id's--}}
          {{!-- <input id="add-new-group" class="btn btn-dark" type="button" value="Submit" onclick="window.setTimeout(window.location.href='/', 3000)"/> --}}
          {{!-- Version 2 (with Id's) --}}
          <input id="add-new-group" class="btn btn-dark" type="button" value="Submit" onclick="window.setTimeout(window.location.href='/{{peopleId}}', 3000)"/>
        </form>
      </div>
    </div>
    
  {{!-- close form group div --}}
  </form>  

{{!-- close main body container --}}
</div> 


<script>


</script>

</main>