
<header>
  <div class="container">
    <div class="navbar centered">
      <a class="navbar-brand" href="#">
        <img src="assets/images/line_up3.png" width="280" height="210" alt="Line Up, A social calendar for busy families.">
      </a>
      <nav class="navbar navbar-expand-lg navbar-light bg-white navbar-right">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link active" href="/index">Home <span class="sr-only">(current)</span></a>
            {{!-- <a class="nav-item nav-link" href="#">My Events</a>
            <a class="nav-item nav-link" href="/allEvents">All Events</a> --}}
            <a class="nav-item nav-link" href="/createevent">Create Event</a>
            <a class="nav-item nav-link" href="#">Create Group</a>
            <a class="nav-item nav-link" href="/login">Log In</a>
            <a class="nav-item nav-link" href="/signup">Sign Up</a>
          </div>
        </div>
      </nav>
    </div>
  </div>
</header>

<main>
<div class ="container">
  <h1>Create a New Group</h1>
  <br>
  
  <div class="form-group">

    {{!-- Enter new group name --}}
    <div class="row">
      <div class="col-md-4 mb-3 ml-4">
        {{!-- <h3><label>Group Name</label></h3> --}}
        <input type="text" class="form-control" id="new-group-name" placeholder="Group name" required>
        <div class="valid-feedback">
          That's a great group name!
        </div>
      </div>
    </div>


    <br>
    {{!-- Take user to manage group page--}}
    <div class="row">
      <div class="col-md-4 mb-3 ml-4">
        <form>
        <input id="add-new-group" class="btn btn-dark" type="button" value="Submit" onclick="window.location.href='/managegroup'"/>
        </form>
      </div>
    </div>
    
  {{!-- close form group div --}}
  </div>  

{{!-- close main body container --}}
</div> 


<script>


</script>

</main>