<main>
<div class ="container">
  <h1>Create a New Group</h1>
  <br>
  

  <form>

    {{!-- Enter new group name --}}
    <div class="row">
      <div class="col-md-4 mb-3 ml-4">
        <input type="text" class="form-control" id="new-group-name" placeholder="Enter new group name" required>
        <div class="valid-feedback">
          That's a great group name!
        </div>
      </div>
    </div>

    {{!-- Add new group member --}}
    <div class="row">
      <div class="col-md-4 mb-3 ml-4">
        <div class="control-group" id="fields">
          <div class="controls"> 
            <form role="form" autocomplete="off">
              <div class="input-group col-xs-4">
                {{#each members}}
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="{{id}}">
                  {{userName}}
                </div>
                {{/each}}
              </div>
            </form>
            <br>
            <small>Press <i class="fas fa-plus"> </i> to add a group member!</small>
          </div>
        </div>
      </div>
    </div>
    <br>


    <br>
    {{!-- Take user to manage group page--}}
    <div class="row">
      <div class="col-md-4 mb-3 ml-4">
        <form>

          <input id="add-new-group" class="btn btn-dark" type="button" value="Submit" onclick="window.setTimeout(window.location.href='/{{peopleId}}', 3000)"/>
        </form>
      </div>
    </div>
    
  {{!-- close form group div --}}
  </form>  

{{!-- close main body container --}}
</div> 


<script>


</script>

</main>