<main>    
  <div class="jumbotron">
    <div class="container wrapper">
      <div class="row">
        <div class="col-md-12">
          <h1 class="display-4">Line Up your Life!</h1>
          <p class="lead-1-md">Line Up makes it easy to create events, connect with friends, and remind everyone of those upcoming special events.</p>
          <p>Login below or <a href="/signup">Create an Account Here.</a></p>
          <hr class="my-4">
        </div>
      </div>
    </div>
    <div class="container">
      <form class="needs-validation" novalidate>
        <div class="container">
          <div class="row">
            <div class="form-row">
              <div class="col-md-6 mb-3">
                <label for="userNameLogin">Username</label>
                <div class="input-group">
                  <input type="text" class="form-control" id="userNameLogin" placeholder="Username" aria-describedby="inputGroupPrepend" required>
                  <div class="invalid-feedback">
                    Please enter your username.
                  </div>
                </div>
              </div>
              <div class="col-md-6 mb-3">
                <label for="passwordLogin">Password</label>
                <div class="input-group">
                  <input type="password" class="form-control" id="passwordLogin" placeholder="Password" aria-describedby="inputGroupPrepend" required>
                  <div class="invalid-feedback">
                    Enter your password.
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
          <button class="btn btn-primary" id="login" type="submit" value="Submit">Login</button>
      </form>
    </div>
  </div>
</main>
