<header>
  <div class="container">
    <div class="navbar centered">
      <a class="navbar-brand" href="#">
        <img src="assets/images/line_up3.png" width="280" height="210" alt="Line Up, A social calendar for busy families.">
      </a>
      <nav class="navbar navbar-expand-lg navbar-light bg-white navbar-right">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="/myEvents">My Events</a>
            <a class="nav-item nav-link" href="/allEvents">All Events</a>
            <a class="nav-item nav-link" href="/create">Create Event</a>
            <a class="nav-item nav-link" href="#">Log Out</a>
            <a class="nav-item nav-link" href="/signup">Sign Up</a>
          </div>
        </div>
      </nav>
    </div>
  </div>
</header>
<main>    
<div class="container">
    <nav class="sidebar">
        <!-- Sidebar Header -->
        <div class="sidebar-header">
            <h3>Dashboard</div>
        <!-- Sidebar List -->
        <ul class="list-unstyled components">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">My Events</a></li>
          <li><!-- Dropdown items -->
                <a href="#allEvents" data-toggle="collapse" aria-expanded="false">All Events</a>
                <ul class="collapse list-unstyled" id="allEvents">
                    <li><a href="#">My Events</a></li>
                    <li><a href="#">Indivdiual Events</a></li>
                    <li><a href="#">Group Events</a></li>
                    <li><a href="#">Recourring Events</a></li>
                </ul>
          <li><!-- Dropdown items -->
                <a href="#createEvents" data-toggle="collapse" aria-expanded="false">Create Events</a>
                <ul class="collapse list-unstyled" id="createEvents">
                    <li><a href="#">Indivdiual Events</a></li>
                    <li><a href="#">Group Events</a></li>
                    <li><a href="#">Recourring Events</a></li>
                </ul>
        </ul>
    </nav>
</div>
<div class = "container">
 <table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col-8"></th>
      <th scope="col-8">Monday</th>
      <th scope="col-8">Tuesday</th>
      <th scope="col-8">Wednesday</th>
      <th scope="col-8">Thursday</th>
      <th scope="col-8">Friday</th>
      <th scope="col-8">Saturday</th>
      <th scope="col-8">Sunday</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th class="Morning"><a href="#">Morning</a></th>
      <td>Wake up</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
    <tr>
      <th class="Afternoon"><a href="#">Afternoon</a></th>
      <td>Coffee Date</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
    <tr>
      <th class="Evening"><a href="#">Evening</a></th>
      <td>Baseball Game</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
    <tr>
      <th class="Night"><a href="#">Night</a></th>
      <td>Time for Bed</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr> 
  </tbody>
</table>
</div>
</main>
