<header>
  <div class="container">
    <div class="navbar centered">
      <a class="navbar-brand" href="#">
        <img src="assets/images/line_up3.png" width="280" height="210" alt="Line Up, A social calendar for busy families.">
      </a>
      <nav class="navbar navbar-expand-lg navbar-light bg-white navbar-right">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
            {{!-- <a class="nav-item nav-link" href="/myEvents">My Events</a>
            <a class="nav-item nav-link" href="/allEvents">All Events</a> --}}
            <a class="nav-item nav-link" href="/createEvent">Create Event</a>
            <a class="nav-item nav-link" href="/creategroup">Create Group</a>
            <a class="nav-item nav-link" href="#">Log in</a>
            <a class="nav-item nav-link" href="/signup">Sign Up</a>
          </div>
        </div>
      </nav>
    </div>
  </div>
</header>
<main>    
  <div class="jumbotron">
    <div class="wrapper">
      <div class="row">
        <div class="col-md-12">
          <h1 class="display-4">Line up your Life!</h1>
          <p class="lead-1-md">Line up makes it easy to create events, connect with friends, and remind everyone of those upcoming special events</p>
          <hr class="my-4">
          <p>Login below or <a href="/signup">Create an Account Here</a></p>
        </div>
      </div>
    </div>
    <div class="container">
      <form class="needs-validation" novalidate>
        <div class="container">
          <div class="row">
            <div class="form-row">
              <div class="col-md-6 mb-3">
                <label for="userNameLogin">Username</label>
                <div class="input-group">
                  <input type="text" class="form-control" id="userNameLogin" placeholder="Username" aria-describedby="inputGroupPrepend" required>
                  <div class="invalid-feedback">
                    Please enter your username.
                  </div>
                </div>
              </div>
              <div class="col-md-6 mb-3">
                <label for="passwordLogin">Password</label>
                <div class="input-group">
                  <input type="password" class="form-control" id="passwordLogin" placeholder="password" aria-describedby="inputGroupPrepend" required>
                  <div class="invalid-feedback">
                    Enter your password.
                  </div>
                </div>
              </div>
            </div>
          </div>
          <button class="btn btn-primary" id="login" type="submit" value="Submit">Submit form</button>
        </div>
      </form>
    </div>
  </div>
</main>
